html{
    margin: 0;
    padding: 0;

}

body{
    text-align: center;
    width: 100%;   
    margin: 0;
    overflow-x: hidden;
    font-size: 20px;

}

table{
    display: inline-block;
    background-image: url(/img/Image.png);
    background-repeat: no-repeat;
    width: 1600px;
    height: 720px;

}

tr{
    text-align: left    ;
    color: #fff;
    font-size: 120px;    
    
}

td img{
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
    margin-bottom: 300px;
    margin-left: 25px;
    margin-right: 25px;

}

form{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 50%;
    height: 680px;
    background: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-radius: 1em;
}

h2{   
    font-size: 40px;
    float: left;
    margin-left: 150px;
    font-family: Arial, Helvetica, sans-serif;    
 
}

form label {
    display:block;
    font-size: 20px;
    
}

form input {
    display: block;
    margin: 0px 150px 35px;
    padding: 10px 25px;
    width: 65%;
    border: 1px solid #f3f3f3;
    border-radius: 12px;
    font-size: 20px;
    color: #969696;
    cursor: pointer;
    
}

#comments{
    padding: 15px 25px 150px 25px;
}

label input{
        margin: 0;
        width: 20px;
        height: 20px;
        margin-left: 150px;   
        margin-top: 20px; 
       
}

p{
    margin: 0;
    position: absolute;
    width: 373px;
    height: 28px;
    margin-left: 165px;
    margin-top: -22px;
    display: block;
    color: #969696;
    font-size: 20px;
}

button{
    text-align: center;
    padding: 25px 240px 25px 210px;
    margin-top: 30px;
    border: 2px solid #000;
    border-radius: 12px;   
    font-size: 20px;  
}


#comments{
    color: #969696;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;   
    border: 1px solid #f3f3f3;
    border-radius: 12px;
    margin-left: 12px;
}